<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
      <img src="/deep.jpg">
      <div></div>
    <h1>Deep Pahadua</h1>
    <h3>Sr. Software Developer (node.js,java,c,c++) with 2+ years experience</h3>
    <p>B.Tech, IIT Guwahati (2013 Batch)</p>
      <p>For any website solutions, mobile application solutions, web services at market comptitative cost, email as given below or call :</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span>Email : deepakpahadua@gmail.com</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon "></span>Choose the best</a>
  </div>
</div>

  <div>
      <form action="sendresponse" method="POST">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname">

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname">

          <label for="country">State</label>
          <input type="text" id="state" name="state">

          <label for="country">Mobile No.</label>
          <input type="text" id="mob" name="mob">

          <label for="country">Project Description</label>
          <input type="text" id="des" name="des">

          <input type="submit" value="Create account" style="margin-left: 48%;margin-top: 1%;">
      </form>
  </div>

<div class="container col-md-12">
      <div class="col-md-9">
        copyright @2013.   All rights reserved.
      </div>
    <div class="col-md-3" style="margin-right: 0%">
      No. Of visits :  <%= cnt %>
    </div>
    <div class="col-md-9" style="margin-right: 0%">
        Server started since :  <%= start %>
    </div>
</div>
</body>
</html>
