<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
      <img src="/deep.jpeg">
    <h1>Deep Pahadua</h1>
    <h3>Sr. Software Developer (node.js,java,c,c++) with 2+ years experience</h3>
    <p>B.Tech, ECE, IIT Guwahati (2013 Batch)</p>
      <p>For any website solutions, mobile application solutions, web services at market comptitative cost, email as given below or call :</p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-flash"></span>Email : deepakpahadua@gmail.com</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon "></span>Contact : @9971916627</a>
  </div>
</div>
<div class="container">
      <ul>
        copyright @2013.   All rights reserved.
      </ul>
</div>
</body>
</html>
